.jumbotron {
  background-image: url('../images/header-img.jpg');
  background-size: cover;
  background-position: bottom;
  height: 500px;
  margin-top: -110px;
  margin-bottom: -120px;
}
.img-pad {
  padding: 4px;
  background-color: #FFF;
}
.img-pull {
  margin-top: -70px;
}
.code {
  padding: 4em 0 4em;
  display: flex;
  align-content: center;
  justify-content: center;
}
.text-center a {
  text-decoration: none;
  color: #000;
}
.project-card-stack {
  padding: 0;
}
.margin-below {
  margin-bottom: 1.5em;
}
.card-pad {
  margin-bottom: 1.5em;
}
.photo {
  padding: 4em 0 4em;
  display: flex;
  align-content: center;
  justify-content: center;
}
#photo-pill a {
  background-color: #000;
  box-shadow: 0 16px 26px -10px rgba(0, 0, 0, 0.56), 0 4px 25px 0px rgba(0, 0, 0, 0.12), 0 8px 10px -5px rgba(156, 39, 176, 0.2)
}
.section {
  padding-top: 50px;
}
.social-flex {
  display: flex;
  align-content: center;
  justify-content: center;
}
